.wrap {
    background: rgb(209, 152, 29);
    color: white;
    font-weight: bold;
    width: 100%;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .part {
            display: flex;
            align-items: center;
            flex: 0 0;

            .icon {
                font-size: 2rem;
                min-width: 2rem;
                cursor: pointer;
            }

            .logo {
                white-space: nowrap;
                font-size: 1.5rem;
                border: 4px solid white;
                border-radius: 100%;
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: -8px 0;
            }

            .name {
                padding-right: 8px;
                white-space: nowrap;
            }
        }
    }
}

@media (max-width: 768px) {
    .wrap {
        .content {
            .part {
                .name {
                    display: none;
                }
            }
        }
    }
}
